doctype html
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width')
      meta(name='description', content=locals.description)
      meta(name='keywords', content=locals.keywords.join(','))
      meta(property='og:title', content='ruchJOW.pl')
      meta(property='og:url', content=locals.url)
      meta(property='og:description', content=locals.description)
      meta(property='og:type', content='website')
      title Wintersmith
      link(rel='stylesheet', href=contents.styles['site.css'].url)    
  body
    block body
      p Nothing to see here, move along.
